<h2>Randomize Integer</h2>

<button id="randomInt">Randomize It!</button>
<button><%= link_to 'Reset All', destroy_all_rand_nums_path, method: :delete, data: {confirm: "Are you sure?"} %></button>



<div id='show_values'>
  <%= render partial: 'index' %>
</div>