<h2>Randomize Integer</h2>

<button id="randomInt">Randomize It!</button>
<button><%= link_to 'Reset All', destroy_all_rand_nums_path, method: :delete, data: {confirm: "Are you sure?"} %></button>



<div id='show_values'>
  <%= render partial: 'index' %>
</div>

<script type="text/javascript">



  $('#randomInt').on('click' ,function(){
    var arr = [0,1,2,3,4,5,6,7,8,9,10];
    var randNum = arr[Math.floor(Math.random() * arr.length)];
    var rand = {
      rand_nums: {
        value: randNum
      }
    }
    console.log(rand);
    $.ajax({
        url: 'https://anasyo10-rortest.herokuapp.com/rand_nums.js', // url where to submit the request
        type : "POST", // type of action POST || GET
        data : rand, // post data || get data
      })
})
$('.edit').on('click' ,function(){
  rand = $('.rand_value').val();
  debugger;
  console.log(rand);
  var rand_edit = {
  rand_nums: {
    value: rand
  }
}

    $.ajax({
        url: 'https://anasyo10-rortest.herokuapp.com/rand_nums/' + $('.rand_id').val(), // url where to submit the request
        type : "PUT", // type of action POST || GET
        data : rand_edit, // post data || get data
      })
});
// var id = $('.rand_id').val();
// var modal = $("#myModal" + $('.rand_id').val());

// // Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close")[0];

// // When the user clicks the button, open the modal
// $(".rand_modal").on('click', function() {
//     modal.css('display', "block");
// });

// // When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//     modal.css('display', "none");
// }

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//     if (event.target == modal) {
//         modal.css('display', "none");
//     }
// }
</script>